#comments { 
    h2, h3 { padding: 20px 20px 0 20px; font-family: "Gill Sans Nova"; margin: 0 0 10px 0; font-size: 24px; line-height: 1; color: #363430; }
    .comment-list { list-style: none; padding: 20px; margin: 0;
        .comment { margin-bottom: 20px; font-size: 12px;
            .comment-body { padding: 10px; background: gainsboro; 
                .reply { display: none;}
            }
            .comment-meta { height: 33px; border-bottom: 1px solid #D9A74A; margin-bottom: 10px;
                img { float: right; height: 32px;}
                .comment-metadata { float: right; margin-right: 8px; }
                .says { padding-left: 5px;}
            }
        }
    }
    
    
}

#respond { margin-bottom: 20px; padding: 20px;
    h2 { padding: 0; }
    .form-submit { text-align: right; margin: 0; 
        input { width: 100%; }
    }
    input { width: calc(100% - 22px); border: 1px solid #D9A74A; padding: 10px; margin-bottom: 1px; font-size: 12px; }
    textarea { width: calc(100% - 22px); font-size: 12px; }
    .status-good { color: green; }
    .status-bad { color: red; }
}

#comment { width: 100%; border: 1px solid #D9A74A; padding: 10px; border-radius: 3px; }
#submit { background: #363430; padding: 8px; color: #F2EEDD; border-radius: 3px; font-size: 12px; transition: 1s; border: none; cursor: pointer; margin: 0;
    &:hover { background: #4F4D48; }
}

.tamgModal {
    .anecdote { width: auto; height: auto; background: none; border: none; display: block; margin: 0; white-space: inherit; box-shadow: none; }
    #comments { padding: 0;
        h2, h3 { color: white; padding: 0;}
        .comment-list { padding: 0;
            .comment {
                .comment-body { background: none; border: 1px solid white; }
                .comment-meta { border-bottom-color: white; 
                    img { max-width: initial; }
                }
            }
        }
        
    }
    #respond { margin-top: 20px; padding: 0; }
}