.single-page { overflow: auto; }

.content-area.page { padding: 20px; 
    h1 { font-size: 36px; margin-top: 0;}
    p { font-size: 18px; 
        &:last-child { margin-bottom: 0; }
    }
    a { text-decoration: underline; font-weight: bold; }

    article { background: #F2EEDD; border: 1px solid #C19144; padding: 20px; }
    .alignright { margin-inline: auto;
        img { margin-inline: auto; display: block; }
    }
}

@media screen and (min-width: 600px) {
    .content-area.page .alignright { float: right; margin-inline: 40px; 
        img { margin-inline: initial; display: inline; }
    }
}